<footer>
    <a href="https://www.facebook.com/Bovine-Hero-109928255756125/" class="fa fa-facebook"></a>
    <a href="https://twitter.com/BovineHero" class="fa fa-twitter"></a>
    <!--<a href="#" class="fa fa-google"></a>-->
    <a href="https://www.linkedin.com/in/bovinehero/" class="fa fa-linkedin"></a>
    <a href="https://www.youtube.com/channel/UCQXJITYNMS8RTf1UsHqwLJA?view_as=subscriber" class="fa fa-youtube"></a>
    <!--<a href="#" class="fa fa-instagram"></a>-->
    <!--<a href="#" class="fa fa-pinterest"></a>-->
    <!--<a href="#" class="fa fa-snapchat-ghost"></a>-->
    <!--<a href="#" class="fa fa-skype"></a>-->
    <!--<a href="#" class="fa fa-android"></a>-->
    <!--<a href="#" class="fa fa-dribbble"></a>-->
    <!--<a href="#" class="fa fa-vimeo"></a>-->
    <!--<a href="#" class="fa fa-tumblr"></a>-->
    <!--<a href="#" class="fa fa-vine"></a>-->
    <!--<a href="#" class="fa fa-foursquare"></a>-->
    <!--<a href="#" class="fa fa-stumbleupon"></a>-->
    <!--<a href="#" class="fa fa-flickr"></a>-->
    <!--<a href="#" class="fa fa-yahoo"></a>-->
    <a href="https://www.reddit.com/user/Bovine_Hero" class="fa fa-reddit"></a>
    <a href="/feed.xml" class="fa fa-rss" rel="alternate" type="application/atom+xml"></a>
    {% include navigation_footer.html %}
</footer>